[user]
	name = fesari
	email = 30542611+fesari@users.noreply.github.com
	signingkey = ~/.ssh/id_ed25519.pub
[push]
	default = simple
[pull]
	rebase = false
[gpg]
	format = ssh
[commit]
	gpgsign = true
[gpg "ssh"]
	allowedSignersFile = ~/.config/git/allowed_signers
